:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 30px;
  text-align: center;
}

ul {
  margin-top: 0px;
  padding: 10px;
}

li {
  display: inline;
  margin: 20px;
}

nav a {
  text-decoration: none;
  color: var(--foreground);
}

/* nav a:visited {
  color: inherit;
} */

.active {
  text-decoration: underline;
  color: yellowgreen;
}

nav {
  background-color: rgb(221, 0, 221);
}

.htmltitle {
  color: red;
}

.csstitle {
  color: blue;
}

.jstitle {
  color: rgb(199, 199, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
  /* a:visited {
    color: violet;
  } */
  nav {
    background-color: rgb(73, 0, 73);
  }
  .csstitle {
    color: cyan;
  }
  .jstitle {
    color: yellow;
  }
}